<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" 
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container">
        <a class="navbar-brand" th:href="@{/ui}">
            <i class="bi bi-truck"></i>
            Gerenciador de Caçambas
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ui/cacambas}">
                        <i class="bi bi-box"></i>
                        Caçambas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ui/clientes}">
                        <i class="bi bi-people"></i>
                        Clientes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ui/alugueis}">
                        <i class="bi bi-calendar-check"></i>
                        Aluguéis
                    </a>
                </li>
            </ul>
            
            <!-- Botão de logout - sempre visível no canto direito -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" class="d-inline">
                        <button type="submit" 
                                class="btn btn-outline-danger btn-sm d-flex align-items-center"
                                title="Sair do sistema">
                            <i class="bi bi-box-arrow-right"></i>
                            <span class="d-none d-lg-inline ms-1">Sair</span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>